name: Colcon Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: osrf/ros:humble-desktop
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: |
          apt-get update -y
          git config --global --add safe.directory /__w/muto/muto
          git submodule update --init --recursive
          apt-get install python3-pip -y
          pip3 install setuptools==58.2.0
          . /opt/ros/humble/setup.sh
          rosdep update -y
          rosdep install --from-path src --ignore-src -r -y --rosdistro humble
          pip3 install src/agent/symphony-sdk-python/
          colcon build
          . install/setup.sh
          colcon test --event-handlers console_direct+
          colcon test-result --all --verbose
        name: Muto ROS2 Humble container build
