name: Colcon Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: osrf/ros:humble-desktop
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: |
          ls -lart
          apt-get update -y
          git config --global --add safe.directory /__w/muto/muto
          git submodule update --init --recursive
          apt-get install python3-pip -y
          pip3 install setuptools==58.2.0
          pip3 install --no-cache-dir -e src/agent/symphony-sdk-python
          . /opt/ros/humble/setup.sh
          rosdep update -y
          rosdep install --from-path src --ignore-src -r -y --rosdistro humble
          colcon build
          . install/setup.sh
          colcon test
          # colcon test-result --all --verbose
        name: Agent ROS2 Humble container build
